*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 0 auto;
  width: 1440px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 65px;
}
.discoverBox {
  width: 444px;
  height: 473px;
  margin-top: 87px;
}
.discoverHeading {
  font-size: 56px;
  font-weight: 800px;
  line-height: 80px;
}
.discover_text {
  font-size: 26px;
  font-weight: 400px;
  padding: 24px 0;
  line-height: 35px;
  width: 356px;
}
.discoverBtn {
  font-size: 18px;
  font-weight: 400px;
  border-radius: 16px;
  background-color: #252525;
  color: #fff;
  padding: 16px 32px;
}
.discoverBtn:hover {
  background-color: #fff;
  color: #000;
  transition-duration: 1000ms;
}
.discover {
  display: flex;
}
.nature1 {
  width: 408px;
  height: 480px;
  margin-right: 35px;
  margin-left: 17px;
}
.nature2 {
  width: 408px;
  height: 480px;
  margin-top: 150px;
}
.number{
  font-weight: 800;
  font-size: 40px;
color: #25252540;
height: 55px;
}

.tress{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 72px;
}